# Environments
env/
venv/
.env
.venv

__pycache__/

.vscode/
.idea/


# Test coverage files

.coverage
*.coverage
coverage.xml
htmlcov/

# Tensorflow model files

detect.tflite
labelmap.txt

# Data created during runtime

**/resources/output/
saved_detections/
output.avi

# ROS catking workspace

catkin_ws

# doc folders

doc/
documentation/html
documentation/latex

