<launch>
	<group ns="konenako">
		<node name="camera" pkg="konenako" type="node_camera.py" />
		<node name="object_detector" pkg="konenako" type="node_object_detector.py" />
		<node name="qr_detector" pkg="konenako" type="node_qr_detector.py" />
		<node name="printer" pkg="konenako" type="node_printer.py" />
		<param name="label_file" type="str" value="mscoco_complete_labels" />
		<param name="model_file" type="str" value="ssd_mobilenet_v1_1_metadata_1.tflite" />
	</group>
</launch>

