<launch>
	<group ns="konenako">
		<node name="camera" pkg="konenako" type="node_camera.py" />
		<node name="printer" pkg="konenako" type="node_printer.py" output="screen" />
		<node name="detector_control_node" pkg="konenako" type="node_detector_control.py" />
		<param name="video_source" type="str" value="test.mp4" />
		<param name="combine_results" type="bool" value="True" />
		<param name="testi" type="yaml" value="object_detect: {model_path: 'ssd_mobilenet_v1_1_metadata_1.tflite', label_path: 'mscoco_complete_labels', detect_on: True, frequency: 42, score_threshold: 0.3}" />
	</group>
</launch>

